body {
  /* rules go here */
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;

}

a {
  text-decoration: none;
  color: #bbb;
}
a:hover {
  color: #fff;
}
li {
  float: left;
  padding: 2px 10px;
  color: #bbb;
  font: 13px/27px Arial,sans-serif;
  font-weight: bold;
}
button {
  margin: 16px 8px;
  border: 1px solid #dcdcdc;
  color: #444;
  font-size: 11px;
  background-color: #f5f5f5;
  padding: 0 8px;
  line-height: 29px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.navBar {
  min-width:980px;
  width: 100%;
  border-color: #000;
  background-color: #2d2d2d;
  height: 30px;
  margin:0;
  position: absolute;
  top:0;
  left: 0;
}
.googlePlus {
  float: right;
  top:30px;
  margin-right: 12px;
  padding-top: 20px;
}

#searchBox {
  width: 514px;
  height: 20px;

}

#searchBox:active {
}

#feelingLucky {

}

.wrapper {
  margin: 0 auto;
  min-width:980px;
  width: 100%;
}

.buttonWrapper {
  margin: 0 auto;
}

#logo img {
  padding-top: 112px;
  width: 275px;
}

#logo {
  height: 231px;
  margin: 0 auto;
  width: 275px;
}